 <!-- About Section -->
    <section class="success" id="about_section">
        <div class="container">

            <div class="row">
                <div class="col-lg-offset-2">
                <div class="col-lg-11 text-center title">
                    What's RackHD
                    <button type="button" class="btn btn-sm btn-dark" style="float:right;margin-top: 10px" >
                        Try RackHD
                    </button>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>RackHD is a open source technology stack for enabling automated hardware management and orchestration through cohesive APIs. It serves as an abstraction layer between other management layers and the underlying, vendor-specific physical hardware.</p>
                </div>
                <div class="col-lg-4">
                    <p>Developers can use the RackHD APIs to incorporate RackHD functionality into a larger orchestration system , or to create a user interface for managing hardware services regardless of the underlying hardware in place. it's for free.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">     
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/cCiXtROSt8U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </section>
