
    <!-- Feature Grid Section -->
    <section id="feature_section">

        <div class="container">

            <h3 class="headline" style="width:70%" > Meet RackHD Features </h3>
            <hr></hr>

            <!-- Features Row #1 -->
            <div class="row">
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Search-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">  discover & catalog    </h4>
                    <h6 class="grid_content"><p> Discovers the compute, network, and storage resources and catalogs their attributes and capabilities.  </p><h6>
                </div>

                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img   src="img/features/icons8.com-Genealogy-50.png" width="50"  height="50"  alt=""></p>
                    </div>
                    <h4 class="grid_title"> telemetry and genealogy </h4>
                    <h6 class="grid_content"><p>  Telemetry data includes genealogical details.  </p></h6>
                </div>

                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Download-from-the-Cloud-50.png" width="50" height="50"  alt=""></p>
                    </div>
                    <h4 class="grid_title"> PROVISIONING </h4>
                    <h6 class="grid_content"><p> Provisions a node to support the intended application workflow.  </p></h6>
                </div>

                 <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img src="img/features/icons8.com-Settings-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">    CONFIGURATION     </h4>
                    <h6 class="grid_content"><p>Configures the hardware per application requirements: from the BIOS configuration of compute to the port configurations of network switches.</p></h6>
                </div>
           </div>


            <!-- Features Row #2 -->
            <div class="row">
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Multiple Devices-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> DEVICE MANAGEMENT  </h4>
                    <h6 class="grid_content"><p>Powers devices on and off. Manages the firmware, power, OS installation, and base configuration of the resources. </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Motherboard-50.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> FIRMWARE MANAGEMENT  </h4>
                    <h6 class="grid_content"><p>Manages all infrastructure firmware versioning, including configuration and firmware update. </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Document-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">  LOGGING </h4>
                    <h6 class="grid_content"><p> Log information can be retrieved for particular elements or collated into a single timeline for multiple elements within the management neighborhood.</p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Temperature-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title">  ENVIRONMENTAL MONITORING  </h4>
                    <h6 class="grid_content"><p>Aggregates environmental data from hardware resources.  </p><h6>
                </div>
            </div>

            <!-- Features Row #2 -->
            <div class="row">
               <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Statistics-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> DATA ALALYTIC </h4>
                    <h6 class="grid_content"><p> (Vision) Data generated by environmental and fault monitoring can be provided to analytic tools for analysis, particularly around predictive failure </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Error-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> FAULT DETECTION</h4>
                    <h6 class="grid_content"><p> (Vision) Monitors compute and storage devices for both hard and soft faults. Performs suitable responses based on pre-defined policies.</p><h6>
                </div>
                 <div class="col-sm-3 feature_grid">
                    <div align="center">
                        <p><img  src="img/features/icons8.com-Like It-100.png" width="50" height="50" alt=""></p>
                    </div>
                    <h4 class="grid_title"> YOU DEFINE RACKHD </h4>
                    <h6 class="grid_content"><p> Tell us about your brilliant idea of RackHD new features, refer to <a href="#">link</a> for more.. </p><h6>
                </div>
                <div class="col-sm-3 feature_grid">
                    <div align="center">
                    </div>
                    <h4 class="grid_title">   </h4>
                    <h6 class="grid_content"><p>  </p><h6>
                </div>
 
            </div>
      </div>


    </section>
