
    <!-- Feature Grid Section -->
    <section id="feature_section">
        <div class="container">
            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-2 col-md-offset-1 ">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Discovery and Cataloging</a>
                    </h4>
                    <h6><p> Discovers the compute, network, and storage resources and catalogs their attributes and capabilities.  </p></h6>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Telemetry and Genealogy</a>
                    </h4>
                    <h6><p>  Telemetry data includes genealogical details, such as hardware, revisions, serial numbers, and date of manufacture  </p></h6>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#"> Device Management </a>
                    </h4>
                    <h6><p>Powers devices on and off. Manages the firmware, power, OS installation, and base configuration of the resources.      </p></h6>
                </div>
                 <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Configuration</a>
                    </h4>
                    <h6><p>Configures the hardware per application requirements. This can range from the BIOS configuration on compute devices to the port configurations in a network switch.    </p></h6>
                </div>

                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Provisioning</a>
                    </h4>
                    <h6><p> Provisions a node to support the intended application workflow, for example lays down ESXi from an image repository. Reprovisions a node to support a different workload, for example changes the ESXi platform to Bare Metal CentOS.  </p></h6>
                </div>


            </div>
            <!-- /.row -->

            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Firmware Management </a>
                    </h4>
                    <h6><p>Manages all infrastructure firmware versioning.</p></h6>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Logging</a>
                    </h4>
                    <h6><p> Log information can be retrieved for particular elements or collated into a single timeline for multiple elements within the management neighborhood.           </p></h6>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#"> Environmental Monitoring   </a>
                    </h4>
                    <h6><p> Aggregates environmental data from hardware resources. The data to monitor is configurable and can include power information, component status, fan performance, and other information provided by the resource.           </p></h6>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Fault Detection </a>
                    </h4>
                    <h6><p> Monitors compute and storage devices for both hard and soft faults. Performs suitable responses based on pre-defined policies.    </p></h6>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                    </a>
                    <h4>
                        <a href="#">Analytics Data   </a>
                    </h4>
                    <h6><p> Data generated by environmental and fault monitoring can be provided to analytic tools for analysis, particularly around predictive failure.        </p></h6>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </section>
