
    <!-- Feature Grid Section -->
    <section id="feature_section">
        <li class="divider"></li>
        <h4 style="text-align:center" >Meet RackHD Features</h4>
        <div class="container">

            <!-- Features Row -->
            <div class="row">
                <div class="col-sm-3">
                    <p>
                    <img class="text-xs-center"  src="img/features/icons8.com-Search-50.png" width="50" height="50" alt="">
                    </p>
                    <h4>
                        <p>DISCOVER & CATALOG</p>
                    </h4>
                    <h6><p> Discovers the compute, network, and storage resources and catalogs their attributes and capabilities.  </p><h6>
                </div>
                <div class="col-sm-3">
                    <p>
                        <img  class="rounded float-xs-center"  src="img/features/icons8.com-Genealogy-50.png" width="100"  height="100"  alt="">
                    </p>
                    <h4>
                        <p>TELEMETRY AND GENEALOGY</p>
                    </h4>
                    <h6><p>  Telemetry data includes genealogical details.  </p></h6>
                </div>

                <div class="col-sm-3">
                    <p>
                        <img class="rounded mx-auto d-block" src="img/features/icons8.com-Download-from-the-Cloud-50.png" width="50" height="50"  alt="">
                    </p>
                    <h4>
                        <p>PROVISIONING<br><br></p>
                    </h4>
                    <h6><p> Provisions a node to support the intended application workflow.  </p></h6>
                </div>
                 <div class="col-sm-3">
                    <p>
                        <img class="rounded mx-auto d-block" src="img/features/icons8.com-Settings-50.png" width="50" height="50" alt="">
                    </p>
                    <h4>
                        <p>CONFIGURATION<br><br></p>
                    </h4>
                    <h6><p>Configures the hardware per application requirements. Range from the BIOS configuration of compute to the port configurations of network switches.</p></h6>
                </div>
           </div>



            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-2 col-md-offset-1 ">
                    <p>
                    <img class="img-responsive" src="img/features/icons8.com-Search-50.png" alt="">
                    </p>
                    <h4>
                        <p>DISCOVER & CATALOG</p>
                    </h4>
                    <h6><p> Discovers the compute, network, and storage resources and catalogs their attributes and capabilities.  </p><h6>
                </div>

                <div class="col-md-3">
                    <p>
                        <img class="img-responsive" src="img/features/2.png" alt="">
                    </p>
                    <h4>
                        <p> DEVICE MANAGEMENT </p>
                    </h4>
                    <h6><p>Powers devices on and off. Manages the firmware, power, OS installation, and base configuration of the resources.      </p></h6>
                </div>



                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/7.png" alt="">
                    </p>
                    <h4>
                        <p>TELEMETRY AND GENEALOGY</p>
                    </h4>
                    <h6><p>  Telemetry data includes genealogical details.  </p></h6>
                </div>
                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/2.png" alt="">
                    </p>
                    <h4>
                        <p> DEVICE MANAGEMENT </p>
                    </h4>
                    <h6><p>Powers devices on and off. Manages the firmware, power, OS installation, and base configuration of the resources.      </p></h6>
                </div>
                 <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/5.png" alt="">
                    </p>
                    <h4>
                        <p>CONFIGURATION<br><br></p>
                    </h4>
                    <h6><p>Configures the hardware per application requirements. Range from the BIOS configuration of compute to the port configurations of network switches.</p></h6>
                </div>

                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/8.png" alt="">
                    </p>
                    <h4>
                        <p>PROVISIONING<br><br></p>
                    </h4>
                    <h6><p> Provisions a node to support the intended application workflow.  </p></h6>
                </div>


            </div>
            <!-- /.row -->
            <br><br>
            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <p>
                        <img class="img-responsive" src="img/features/4.png" alt="">
                    </p>
                    <h4>
                        <p>FIRMWARE MANAGEMENT </p>
                    </h4>
                    <h6><p>Manages all infrastructure firmware versioning.</p></h6>
                </div>
                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/6.png" alt="">
                    </p>
                    <h4>
                        <p>LOGGING<br><br></p>
                    </h4>
                    <h6><p> Log information can be retrieved for particular elements or collated into a single timeline for multiple elements within the management neighborhood.           </p></h6>
                </div>
                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/9.png" alt="">
                    </p>
                    <h4>
                        <p> ENVIRONMENTAL MONITORING   </p>
                    </h4>
                    <h6><p> Aggregates environmental data from hardware resources. </p></h6>
                </div>
                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/3.png" alt="">
                    </p>
                    <h4>
                        <p>FAULT DETECTION<br><br> </p>
                    </h4>
                    <h6><p>(Vision) Monitors compute and storage devices for both hard and soft faults. Performs suitable responses based on pre-defined policies.    </p></h6>
                </div>
                <div class="col-md-2">
                    <p>
                        <img class="img-responsive" src="img/features/10.png" alt="">
                    </p>
                    <h4>
                        <p>ANALYTICS DATA<br><br></p>
                    </h4>
                    <h6><p>(Vision) Data generated by environmental and fault monitoring can be provided to analytic tools for analysis, particularly around predictive failure.        </p></h6>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </section>
