
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How TO</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <!-- Guide Row -->
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <h3 style="text-align:center">
                        User Guide
                    </h3>
                    <ul>
                        <li>
                             <p><a href="#">Installation Overview</a></p>
                        </li>
                        <li>
                             <p><a href="#">API Document</a></p>
                        </li>
                        <li>
                             <p><a href="#">License</a></p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 portfolio-item">
                    <h3 style="text-align:center">
                        Development Guide
                    </h3>
                    <ul>
                        <li>
                             <p><a href="#">Getting Started Guide</a></p>
                        </li>
                        <li>
                             <p><a href="#">Submit and Track Bugs</a></p>
                        </li>
                        <li>
                             <p><a href="#">Team</a></p>
                        </li>
                    </ul>
                </div>


                <div class="col-md-4 portfolio-item">
                    <h3 style="text-align:center">
                        Contacts
                    </h3>
                    <ul class="list-inline">
                        <li>
                        <a href="https://twitter.com/rack_hd" class="btn-social btn-outline">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                        </li>
                        <li>
                        <a href="https://groups.google.com/forum/#!forum/rackhd" class="btn-social btn-outline">
                            <i class="fa fa-fw fa-group"></i>
                        </a>
                        </li>

                        <li>
                        <a href="https://github.com/RackHD" class="btn-social btn-outline">
                            <i class="fa fa-fw fa-github"></i>
                        </a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- /.row -->

        </div>
    </section>
