
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <h3 class="headline" style=" width: 70% " > Guides </h3>
            <hr>
            </hr>

            <!-- Guide Row -->
            <div class="row" style="display:flex">
                <div class="col-lg-3">
                    <img class="img-responsive"  src="img/icons8.com-User.png" alt="">
                </div>
                <div class="col-lg-3" style="margin-top: -15px">
                    <a href="https://rackhd.readthedocs.io/en/latest/rackhd/index.html">
                        <h4 style="margin:0px 20px;">User Guide<br><br></h4>
                    </a>
                    <div class="list-group" style=" margin:0 auto;">
                        <a href="http://rackhd.readthedocs.io/en/latest/introduction.html" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Overview</h6>
                        </a>
                        <a href="https://rackhd.readthedocs.io/en/latest/tutorials/index.html" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Tutorials</h6>
                        </a>
                        <a href="https://rackhd.readthedocs.io/en/latest/rackhd/ubuntu_source_installation.html" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Install</h6>
                        </a>
                        <a href="#" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Request Demands</h6>
                        </a>
                        <a href="#" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Report Bug/Vulnerability</h6>
                        </a>
                        <a href="#" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Releases</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3">
                    <img class="img-responsive"  src="img/icons8.com-Dev.png" alt="">
                </div>
                <div class="col-lg-3" style="margin-top: -15px">
                    <a href="http://rackhd.readthedocs.io/en/latest/devguide/index.html">
                        <h4 style="margin:0px 20px;">Development Guide<br><br></h4>
                    </a>
                    <div class="list-group" style=" margin:0 auto;">
                        <a href="http://rackhd.readthedocs.io/en/latest/devguide/repositories.html" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Repositories Overview</h6>
                        </a>
                        <a href="http://rackhd.readthedocs.io/en/latest/devguide/contributing.html" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">How To Contribute</h6>
                        </a>
                        <a href="http://rackhd.readthedocs.io/en/latest/devguide/debugging_guide.html" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">How To Debug</h6>
                        </a>
                        <a href="#" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">License</h6>
                        </a>
                        <a href="#" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Product Security Guide</h6>
                        </a>
                        <a href="#" class="list-group-item list-group-item-fixed-border">
                             <h6 class="grid_content grid_content_dark">Releases</h6>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </section>
