
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="headline_with_line" styple=" width: 70% " > Guides </h3>
                <br><br>
                </div>
            </div>

            <!-- Guide Row -->
            <div class="row" style="display:flex">
                <div class="col-lg-4 col-lg-offset-2">
                    <img class="img-responsive" width="50%" src="img/user-guide.png" alt="">
                </div>
                <div class="col-lg-4">
                    <a href="https://rackhd.readthedocs.io/en/latest/rackhd/index.html">
                        <h4 style="text-align:center">User Guide<br><br></h4>
                    </a>
                    <ul style="display:table; margin:0 auto;">
                        <li>
                             <h6 class="grid_content"><a href="http://rackhd.readthedocs.io/en/latest/introduction.html">Overview</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="https://rackhd.readthedocs.io/en/latest/tutorials/index.html">Tutorials</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="https://rackhd.readthedocs.io/en/latest/rackhd/ubuntu_source_installation.html">Install</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="#">Request Demands</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="#">Report Bug/Vulnerability</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="#">Releases</a></h6>
                        </li>
 
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="row" style="display:flex">
                <div class="col-lg-4 col-lg-offset-2">
                    <a href="http://rackhd.readthedocs.io/en/latest/devguide/index.html">
                        <h4 style="text-align:center">Development Guide<br><br></h4>
                    </a>
                    <ul style="display:table; margin:0 auto;">
                        <li>
                             <h6 class="grid_content"><a href="http://rackhd.readthedocs.io/en/latest/devguide/repositories.html">Repositories Overview</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="http://rackhd.readthedocs.io/en/latest/devguide/contributing.html">How To Contribute</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="http://rackhd.readthedocs.io/en/latest/devguide/debugging_guide.html">How To Debug</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="#">License</a></h6>
                        </li>
                        <li>
                             <h6 class="grid_content"><a href="#">Product Security Guide</a></h6>
                       </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive" width="50%" src="img/dev-guide.png" alt="">
                </div>
            </div>
            <!-- /.row -->

        </div>
    </section>
