
    <!-- Portfolio Grid Section -->
    <section id="news_section">

        <div class="container">

            <hr class="divider">

            <div >
                <img src="img/yqz5io8xf5u-alondra-olivas.jpg" style="float:left; margin-right:60px;">
                <!-- in same div, image should live before text. so that they will stand on the same line-->
                <h3 style="  border-bottom: 2px solid; color:DeepSkyBlue"> EVENTS </h3>
                <button type="button"  href="#"  class="btn btn btn-outline-info" style="float:right">Learn More...</button>
                <li>
                <img src="img/icons8.com-Globe-48.png" style="margin-right:10px; height:40px; width:40px;">
                <a href="#">RackHD Dev Summit 2016</a>
                </p>
                </li>

                <li>
                <img src="img/icons8.com-Adventures-48.png" style="margin-right:10px; height:40px; width:40px;">
                <a href="#">RackHD in Dell World 2016</a>
                </p>
                </li>

                <li>
                <img src="img/icons8.com-West Direction-48.png" style="margin-right:10px; height:40px; width:40px">
                <a href="#">RackHD in Container Tech Summit</a>
                </p>
                </li>

                <li>
                <img src="img/icons8.com-Chip-50.png" style="margin-right:10px; height:40px; width:40px;">
                <a href="#">RackHD in Yet Another Tech Summit</a>
                </p>
            </div>

            <hr class="divider">

            <div >
                <img src="img/omeahbefln4-alexis-brown.jpg" style="float:right; margin-left:60px;">
                <!-- in same div, image should live before text. so that they will stand on the same line-->
                <h3 style="  border-bottom: 2px solid; color:DeepSkyBlue"> COMMUNITY </h3>
                <button type="button"  href="#"  class="btn btn btn-outline-info" style="float:right">Learn More...</button>
                <li>
                <img src="img/icons8.com-To-Do-60.png" style="margin-right:10px; height:40px; width:40px;">
                <a href="#">Dell EMC Teams Backlogs</a>
                </p>
                </li>

                <li>
                <img src="img/icons8.com-Route-60.png" style="margin-right:10px; height:40px; width:40px">
                <a href="#">RackHD Roadmap</a>
                </p>
                </li>

                <li>
                <img src="img/icons8.com-Handshake-60.png" style="margin-right:10px; height:40px; width:40px;">
                <a href="#">Core Committee Minutes</a>
                </p>
            </div>
 
            <hr class="divider">


        </div>
        <!--
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    Events
                <br><br>
                </div>
            </div>
            {% for post in site.posts %}
            <div class="row col-lg-8 col-lg-offset-2">
                <div class="thumbnail right-caption">
                        <img src="img/blogs/{{ post.img }}" style="height:80px;" class="img-responsive" alt="{{ post.alt }}">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h4>{{ post.title }}</h4>
                        </div>
                    </div>           
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        -->
    </section>
