
    <!-- Portfolio Grid Section -->
    <section id="news_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    Events
                <br><br>
                </div>
            </div>
            {% for post in site.posts %}
            <div class="row col-lg-8 col-lg-offset-2">
                <div class="thumbnail right-caption">
                        <img src="img/blogs/{{ post.img }}" style="height:80px;" class="img-responsive" alt="{{ post.alt }}">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h4>{{ post.title }}</h4>
                        </div>
                    </div>           
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
