
<!-- Portfolio Grid Section -->
<section id="roadmap_section">

    
    <div class="container">

        
        <div style="display: block;width:60%;position: relative;float: left; background-color: RGB(165,165,165); height: 200;">
            </p>
            <h3 class="headline_with_line"> The World # runs with RackHD </h3>
            <h6 class="grid_content" >
                Discover why organizations adopt RackHD, what features they are leveraging and the impact it has on their overall business.
            </h6>
            </p>
        </div>

        <div style="display: block;width:40%;position: relative;float: left;  background-color: RGB(165,165,165); height: 200;">
             <img src="img/worldrunsRackhd.png">
        </div>



        
        
        
        <div class="col-lg-12 text-center">
            News
            <br><br>
        </div>

        <!--  Row -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>
                    What's On
                </h3>

                <li>  <p><a href="https://github.com/RackHD/RackHD/wiki/roadmap" >Roadmap</a></p> </li>
                <li>  <p><a href="https://github.com/RackHD/RackHD/wiki/Core-Committer-Meeting" >Core Committer Meeting Minutes</a></p> </li>
            </div>

            <div class="col-lg-4 col-lg-offset-2">
                <h3>
                    Channels
                </h3>
                    <a href="https://twitter.com/rack_hd" class="btn-social btn-dark">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>

                    <a href="https://groups.google.com/forum/#!forum/rackhd" class="btn-social btn-dark">
                        <i class="fa fa-group fa-2x"></i>
                    </a>
                    <a href="https://github.com/RackHD" class="btn-social btn-dark">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="https://codecommunity.slack.com/archives/rackhd" class="btn-social btn-dark">
                        <i class="fa fa-slack fa-2x"></i>
                    </a>
            </div>

        </div>
    </div>
</section>
