
    <!-- Portfolio Grid Section -->
    <section id="roadmap_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stay Informed</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <li>  <p><a href="https://github.com/RackHD/RackHD/wiki/roadmap" >Roadmap</a></p> </li>
            <li>  <p><a href="https://github.com/RackHD/RackHD/wiki/Core-Committer-Meeting" >Core Committer Meeting Minutes</a></p> </li>
        </div>
    </section>
