
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <li>Auto discovery</li>
            <li>Provision and erase server OSes</li>
            <li>Install and upgrade firmware</li>
            <li>Monitor , control through out-of-band interfaces</li>
            <li>Provide data feeds for alerts and telemetry from hardware</li>
            <li>Workflows engine</li>
            <li>Provide RESTful APIs</li>
            <li>Provide Redfish APIs</li>
        </div>
    </section>
