
<!-- Portfolio Grid Section -->
<section id="usercase_section">
    <!--                      User Cases                           -->
    <div class="container">
        <!-- User Story --> 
        <div style=" background-color: RGBA(64,64,64,1); height:200px;">
            <img src="img/userCaseofRackHD-qnu-ur0o5x8-jeremy-beadle.png" style="float:left; margin-right: 60px"> <!-- in same div, image should live before text. so that they will stand on the same line-->
            <h3 class="headline_with_line" style="margin: 20px; color:RGB(0,176,240);"> User Cases # of RackHD </h3>
            <h6 class="grid_content" style="font-size:16px; margin: 20px; color:white;" >
                Adopt RackHD to explore the effective way of your hardware M&O
            </h6>
        </div>

        <div class="row" >
            <div class="col-sm-3 col-sm-offset-1">
                <div style="margin: 20px">
                    <img src="img/features/icons8.com-Settings-50.png" style="float:left;margin:10px">
                    <h5>OS PROVISION</h5>
                    <h6 class="grid_content">Asd eruwn awr wew  dleo awfsa. Sadfweri. Srwer si  lawer wera ewerwerewr were. Sder !
                    </h6>
                </div>

            </div>

            <div class="col-sm-3 ">
                <div style="margin: 20px">
                    <img src="img/features/icons8.com-Motherboard-50.png" style="float:left;margin:10px">
                    <h5>FIRMWARE UPDATE</h5>
                    <h6 class="grid_content">Asd eruwn awr wew  dleo awfsa. Sadfweri. Srwer si  lawer wera ewerwerewr were. Sder !
                    </h6>
                </div>
            </div>

            <div class="col-sm-3 ">
                <div style="margin: 20px">
                    <img src="https://maxcdn.icons8.com/office/PNG/40/Network/server-40.png" style="float:left;margin:10px">
                    <h5>DATA CENTER MGMT</h5>
                    <h6 class="grid_content">Asd eruwn awr wew  dleo awfsa. Sadfweri. Srwer si  lawer wera ewerwerewr were. Sder !
                    </h6>
                </div>
            </div>


        </div> <!--End of div class=row -->

    </div> <!-- End of div class="container"-->


</section>
