
<!-- Portfolio Grid Section -->
<section id="usercase_section">
    <!--                      User Cases                           -->
    <div class="container">
        <!-- User Story --> 
        <div class="thumbnail right-caption"style=" background-color: RGBA(64,64,64,1);">
            <img src="img/userCaseofRackHD-qnu-ur0o5x8-jeremy-beadle.png" style="float:left; margin-right: 60px"> <!-- in same div, image should live before text. so that they will stand on the same line-->
            <h3 class="headline_with_line" style="margin: 20px; color:RGB(0,176,240);"> RackHD user cases </h3>
            <h6 class="grid_content" style="font-size:16px; margin: 20px; color:white;" >
                Adopt RackHD to explore the effective way of your hardware M&O
            </h6>
        </div>

        <div class="thumbnail right-caption">
            <img src="img/features/icons8.com-Settings-50.png" style="float:left;margin:10px">
            <a href="https://rackhd.atlassian.net/wiki/pages/viewpage.action?pageId=19824666" style="float:right;color: #03a9f4"><h6>More...  <i class="fa fa-angle-double-right" aria-hidden="true"></i></h6></a>
            <div>
                <h4>Bare metal provisioning</h4>
                <h5 class="grid_content">Updating firmware and deploying OS on bare metal.</h5>
            </div>
        </div>

        <div class="thumbnail right-caption">
            <img src="https://maxcdn.icons8.com/office/PNG/40/Network/server-40.png" style="float:left;margin:10px;height: 50px;width: 50px;">
            <a href="https://rackhd.atlassian.net/wiki/pages/viewpage.action?pageId=19824666" style="float:right;color: #03a9f4"><h6>More...  <i class="fa fa-angle-double-right" aria-hidden="true"></i></h6></a>
            <div class="caption">
                <h4>Rack and stack </h4>
                <h5 class="grid_content">Configuring the network and updating firmware, OS, and hardware configuration once the nodes are racked and stacked.
                </h5>
            </div>
        </div>

        <div class="thumbnail right-caption">
            <img src="img/features/icons8.com-Motherboard-50.png" style="float:left;margin:10px">
            <a href="https://rackhd.atlassian.net/wiki/pages/viewpage.action?pageId=19824666" style="float:right;color: #03a9f4"><h6>More...  <i class="fa fa-angle-double-right" aria-hidden="true"></i></h6></a>
            <div class="caption">
                <h4>Lifecycle management</h4>
                <h5 class="grid_content">Supporting system expansion, FRU replacement, FW and OS updates.</h5>
            </div>
        </div>

    </div> <!-- End of div class="container"-->


</section>
